{% extends 'base.html' %}

{% block title %}Cotação{% endblock %}
{% block content %}
<!-- Content -->
<div id="content" class="flex">
        
    <h1>Cotaçãso do Projeto</h1>
    
    <div id="content-main">
        <ul class="object-tools">
            <li>
                <a href="#" class="addlink">
                Cotação de Projeto
                </a>
            </li>
        </ul>

        <div class="module" id="changelist">
            <div class="changelist-form-container">

                <form id="changelist-form" method="post" novalidate><input type="hidden" name="csrfmiddlewaretoken" value="QX6yR3DBmAPo3jIEYftTUmXE2cnTlzoSnNzkNHDBGGHYr49UPe5mhDe8MsmBBy1i">

                <!-- Caixa de seleção - CheckBox -->
                <div class="actions">
                    <label>Action: <select name="action" required>
                    <option value="" selected>---------</option>
                    <option value="delete_selected">Delete</option>
                    </select></label>
                    <input type="hidden" name="select_across" value="0" class="select-across">
                    <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
                    <span class="action-counter" data-actions-icnt="3">0 of 3 selected</span>
                </div>

                <!-- Lista de Iten das Tabelas -->
                <div class="results">
                    <table id="result_list">
                    <thead>
                        <tr>
                            <th scope="col"  class="action-checkbox-column">
                                <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                                <div class="clear"></div>
                            </th>
                            {% for col in cols %}
                            <th scope="col"  class="column-__str__">
                                <div class="text"><a href="?o=2">{{ col }}</a></div>
                                <div class="clear"></div>
                            </th>
                            {% endfor %}
    
                        </tr>
                    </thead>
                    <tbody>

                        {% for cota in Cotations %}
                            <tr>
                                <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="1" class="action-select"></td>
                                <th class="field-project_name"><a href="http://127.0.0.1:8000/edite_cotation/{{cota.id}}">{{cota.proj_name}}</a></th>
                                <td class="field-comments">{{cota.subject_name}}</td>
                                <td class="field-comments">{{cota.doc_name}}</td>
                                <td class="field-comments">{{cota.doc_type}}</td>
                                <td class="field-comments">{{cota.format_doc}}</td>
                                <td class="field-comments">{{cota.page_type}}</td>
                                <td class="field-comments">{{cota.qt_page}}</td>
                                <td class="field-comments">{{cota.qt_hh}}</td>
                                <td class="field-comments">{{cota.cost_doc}}</td>
                                <td class="field-comments">{{cota.update_ct}}</td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>

                <p class="paginator">3 document standards</p>

            </form>
        </div>

    </div>
</div>

{% endblock %}

