{% extends 'base.html' %}

{% block title %}Pagina Inicial{% endblock %}
{% block content %}

 
 <!-- Content -->
<div id="content" class="colMS">        
    <h1>Ambiente de Projetos</h1>

    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption id="width-caption">
                <a href="" class="section" title="Models in the Authentication and Authorization application">Projetos em Andamento</a>
            </caption>
            <th scope="row"><a href="{% url 'project-list' %}">Acessar</a></th>
            <td><a href="{% url 'project-list' %}" class="changelink">Editar</a></td> <!--Implementar uma função para tirar o link qd for só acessar -->
        </table>
    </div>

    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption id="width-caption">
                <a href="{% url 'documment-type-list' %}" class="section" title="Models in the Authentication and Authorization application">Documentação Técnica</a>
            </caption>
            <th scope="row"><a href="{% url 'documment-type-list' %}">Acessar</a></th>
            <td><a href="#" class="changelink">Editar</a></td>
        </table>
    </div>


    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption id="width-caption">
                <a href="{% url 'subject-list' %}" class="section" title="Models in the Authentication and Authorization application">Disciplinas</a>
            </caption>
            <th scope="row"><a href="{% url 'subject-list' %}">Acessar</a></th>
            <td><a href="#" class="changelink">Editar</a></td>
        </table>
    </div>

    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption id="width-caption">
                <a href="{% url 'action-list' %}" class="section" title="Models in the Authentication and Authorization application">Ações do Projeto</a>
            </caption>
            <th scope="row"><a href="{% url 'action-list' %}">Acessar</a></th>
            <td><a href="#" class="changelink">Editar</a></td>
        </table>
    </div>

    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption id="width-caption">
                <a href="{% url 'status-list' %}" class="section" title="Models in the Authentication and Authorization application">Status do Projeto</a>
            </caption>
            <th scope="row"><a href="{% url 'status-list' %}">Acessar</a></th>
            <td><a href="#" class="changelink">Editar</a></td>
        </table>
    </div>

    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption id="width-caption">
                <a href="{% url 'employee-list' %}" class="section" title="Models in the Authentication and Authorization application">Colaboradores</a>
            </caption>
            <th scope="row"><a href="{% url 'employee-list' %}">Acessar</a></th>
            <td><a href="#" class="changelink">Editar</a></td>
        </table>
    </div>

    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption id="width-caption">
                <a href="{% url 'cotation-list' %}" class="section" title="Models in the Authentication and Authorization application">Cotação de Projeto</a>
            </caption>
            <th scope="row"><a href="{% url 'cotation-list' %}">Acessar</a></th>
            <td><a href="#" class="changelink">Editar</a></td>
        </table>
    </div>

    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption id="width-caption">
                <a href="{% url 'admin:index' %}" class="section" title="Models in the Authentication and Authorization application">Upload Tables</a>
            </caption>
            <th scope="row"><a href="{%url 'admin:index'%}taskproject/upload">Acessar</a></th>
            <td><a href="#" class="changelink">Editar</a></td>
        </table>
    </div>

    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption id="width-caption">
                Carregar Planilhas
            </caption>
            <th scope="row"><a href="#" onclick="MessagesCarga()" id="call-pl">Carga Geral</a></th>
            <td><a href="#" onclick=" MessagesCotation()" id="call-cota">Carga Cotation</a></td>
            
        </table>

        <table>
            <h3>Tipo de Orçamento</h3>
            <th scope="row">
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> By HH
                    </label>
                </div>
            </th>
            <th scope="row">
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> By Doc
                    </label>
                </div>
            </th>
            <th scope="row">
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> By A1
                    </label>
                </div>
            </th>
        </table>
    </div>

</div>
    


<div class="app-auth module current-app" id="alinha-tables">
    <table>
        <caption id="width-caption">
            <a href="{% url 'admin:index' %}" class="section" title="Models in the Authentication and Authorization application">Tipo de Cotação</a>
        </caption>
        <th scope="row"><a href="{%url 'admin:index'%}taskproject/upload">Acessar</a></th>
        <td><a href="#" class="changelink">Editar</a></td>
    </table>
</div>
    
{% endblock %}

