{% extends 'base.html' %}

{% block title %}Pagina Inicial{% endblock %}
{% block content %}

 
 <!-- Content -->
<div id="content" class="colMS">        
    <h1>Ambiente de Projetos</h1>

    <div class="app-auth module current-app" id="alinha-tables">
        <table>
            <caption>
                <a href="#" class="section" title="Models in the Authentication and Authorization application">Projetos em Andamento</a>
            </caption>
            {% for proj in MyProjects %}
            <tr class="model-group">
                <th scope="row"><a href="#">{{proj.project_name}}</a></th>
                <td><a href="#" class="addlink">Acompanhar</a></td>
                <td><a href="#" class="changelink">Editar</a></td>
            </tr>
            {% endfor %}
        
        </table>
    </div>

    <div class="app-auth module current-app" >
        <table>
            <caption>
                <a href="#" class="section" title="Models in the Authentication and Authorization application">Documentação Técnica</a>
            </caption>
            {% for doc in DocumentStandards %}
            <tr class="model-group">
                <th scope="row"><a href="#">{{doc.doc_type}}</a></th>
                <td><a href="#" class="addlink">Acompanhar</a></td>
                <td><a href="#" class="changelink">Editar</a></td>
            </tr>
            {% endfor %}
        
        </table>
    </div>
</div>
    

    
{% endblock %}

