{% extends 'base.html' %}

{% block title %}Documentos{% endblock %}
{% block content %}
<!-- Content -->
<div id="content" class="flex">
        
    <h1>Documentação Técnica</h1>
    
    <div id="content-main">
        <ul class="object-tools">
            <li>
                <a href="{%url 'admin:index'%}taskproject/documentstandard/add/" class="addlink">
                Adicionar Tipo de Documento
                </a>
            </li>
  
        </ul>

        <div class="module" id="changelist">
            <div class="changelist-form-container">

                <form action="{% url 'create-LD' %}" method="GET" id="changelist-form" novalidate>
                    <input type="hidden" name="_selected_action" value="button" >

                <!-- Caixa de seleção - CheckBox -->
                 <div class="actions">
                    <label>Ação:
                    <select name="action" required>
                    <option value="" selected>---------</option>
                    <option value="create_LD">Criar Lista de Documento</option>
                    <option value="create_budget">Criar Orçamento</option>
                    </select>
                    </label>
                    
                    <label id="label-alinha">Projeto:
                    <select name="proj" required>
                    <option value="" selected>---------</option>
                    {% for proj in MyProjects %}
                        <option value={{proj.id}}>{{proj.project_name}}</option>
                    {% endfor %}
                    </select>
                    </label>
    
                    <!-- Caixa de seleção - CheckBox -->
                
                    <label id="label-alinha">Disciplina:
                    <select name="sub" required>
                    <option value="" selected>---------</option>
                    {% for sub in Subjects %}
                        <option value={{sub.id}}>{{sub.subject_name}}</option>
                    {% endfor %}
          
                    </select>
                    </label>
                    <!-- <input type="hidden" name="select_across" value="0" class="select-across"> -->
                        <button type="submit" class="button" title="Run the selected action" name="index" value="0" >Go</button> <!--onclick="SendListCheck()"-->
                    </div>

                <!-- Lista de Iten das Tabelas -->
                <div class="results">
                    <div class="w3-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr name="selected">
                            <th scope="col"  class="action-checkbox-column">
                                <div class="text"><span><input type="checkbox" name="_selected" value="All" id="action-toggle"></span></div>
                                <div class="clear"></div>
                            </th>
                            {% for col in cols %}
                                <th scope="col"  class="column-__str__">
                                    <div class="text"><a href="?o=2">{{ col }}</a></div>
                                    <div class="clear"></div>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for doc in DocumentStandards %}
                            <tr>
                                <td class="action-checkbox"><input type="checkbox" name="action" value="{{doc.id}}" class="action-select" id="selected"></td><th class="field-project_name"><a href="xxx.id">{{doc.documment_name}}</a></th>
                                <td class="field-comments" id="align-text">{{doc.doc_type}}</td>
                                <td class="field-update_proj nowrap">{{doc.format_doc}}</td>
                                <td class="field-update_proj nowrap">{{doc.doc_type_page}}</td>
                                <td class="field-update_proj nowrap">{{doc.created_doc}}</td>
                                <td class="field-update_proj nowrap">{{doc.update_doc}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    </div>
                </div>
                <p class="paginator">3 document standards</p>

            </form>
        </form>

        </div>
    </div>
</div>

{% endblock %}

